h1 {
  color: pink;
  text-align: center;
}

h2{
  color: violet;
  font-style: italic;
  text-align: center;
}

p, h1, h2, h3, ul, ol, li{
  font-family: sans-serif;
}

ul, ol{
  line-height: 30px;
}

.people {
  background-color: yellow;
}

.iceCream {
  background-color: cyan;
}

.delicious {
  color: teal;
}
